/* ----- BOILERPLATE ----- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient(#333, #111);
  color: white;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  min-width: 320px;
}

.header {
  padding: 1.5rem;
  background-color: #111;
  color: white;
}

.free-shipping h1 {
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 1rem;
}

.navlinks ul {
  display: flex;
  justify-content: center;
}

.navlinks li {
  list-style: none;
  width: 155px;
  border-radius: 0 50px 50px 0;
  border: 2px solid white;
}

.navlinks li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  line-height: 1.6;
}

#clock-item {
  border-radius: 50px 0 0 50px;
}

#clicky-clock {
  text-align: center;
}

.navlinks li:hover {
  background-color: rgb(0, 50, 150);
}

.clock {
  width: 300px;
  height: 300px;
  background-color: rgba(10, 10, 10, .8);
  border-radius: 50%;
  border: .2rem solid white;
  position: relative;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 2.8rem;
  padding-top: .5rem;
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: white;
  border: .1rem solid #111;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: '';
  position: absolute;
  background-color: white;
  z-index: 11;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.second {
  width: .5rem;
  height: 48%;
  background-color: rgb(0, 50, 150);
}

.clock .hand.minute {
  width: .9rem;
  height: 48%;
  background-color: white;
}

.clock .hand.hour {
  width: 1.3rem;
  height: 25%;
  background-color: white;
}

.clock-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
  overflow: hidden;
}


/* ----- CALCULATOR ----- */

.body-calculator {
  outline: 0;
  transition: all 0.5s ease;
}

.container {
  padding-top: 3%;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: 460px;
  width: 280px;
  padding: 1.4rem;
  padding-bottom: 0;
  border-radius: 30px;
  box-shadow: 0 0 50px #000;
}

.theme-toggler {
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
  color: #333;
}

.theme-toggler.active::before {
  background-color: #fff;
}

.theme-toggler::before {
  content: '';
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display {
  margin: 0 1rem;
  height: 110px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 3rem;
  margin-bottom: 1rem;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 5rem;
  width: 5rem;
  border: 0;
  border-radius: 30px;
  margin: .5rem;
  font-size: 2.4rem;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1); 
}

button#equal {
  height: 110px;
}

a {
  text-decoration: none;
}

.calculator {
  background-color: #fff;
  border: 2px solid rgb(0, 200, 255);
}

.calculator #display {
  color: #000;
}

.calculator button#clear {
  background-color: rgb(200, 150, 255);
  color: #dc4552;
}

.calculator button.btn-number {
  background-color: #ccc;
  color: #000;
}

.calculator button.btn-operator {
  background-color: rgb(255, 150, 255);
  color: rgb(200, 10, 50);
}

.calculator button.btn-equal {
  background-color: rgb(0, 200, 255);
  color: #fff;
}

.calculator.dark {
  background-color: #111;
  border: 2px solid white;
}

.calculator.dark #display {
  color: #f8fafd;
}

.calculator.dark button#clear {
  background-color: #333;
  color: #bd3740;
}

.calculator.dark button.btn-number {
  background-color: rgb(0, 20, 100);
  color: #f8fafb;
}

.calculator.dark button.btn-operator {
  background-color: rgb(70, 10, 50);
  color: rgb(255, 0, 255);
}

.calculator.dark button.btn-equal {
  background-color: rgb(0, 35, 0);
  color: #ffffff;
}








